name: Test and build

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
  workflow_call:

jobs:
  test:
    runs-on: ${{ "{{" }}matrix.os{{ "}}" }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
{%- if cookiecutter.use_windows_ci_runner %}
          - windows-latest
{%- endif %}
{%- if cookiecutter.use_macos_ci_runner %}
          - macos-latest
{%- endif %}
        python-version: ['3.13']

    steps:
      - uses: actions/checkout@v4

{%- if cookiecutter.packaging == "poetry" %}
      - name: Install poetry
        run: pipx install poetry
{%- elif cookiecutter.packaging == "uv" %}
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          prune-cache: false
          activate-environment: true
          python-version: ${{ "{{" }} matrix.python-version {{ "}}" }}
{%- endif %}

{%- if cookiecutter.packaging != "uv" %}
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ "{{" }}matrix.python-version{{ "}}" }}
          cache: {% if cookiecutter.packaging == "poetry" %}poetry{% elif cookiecutter.packaging == "pip-tools" %}pip{% endif %}
{%- endif %}

{%- if cookiecutter.packaging == "poetry" %}
      - name: Install dependencies
        run: poetry install

      - name: Run mypy
        run: poetry run mypy .

      - name: Run tests
        run: poetry run pytest
{%- elif cookiecutter.packaging == "pip-tools" %}
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r dev-requirements.txt
          pip install -e .

      - name: Run mypy
        run: mypy .

      - name: Run tests
        run: pytest
{%- elif cookiecutter.packaging == "uv" %}

      - name: Install dependencies
        run: uv sync

      - name: Run mypy
        run: mypy .

      - name: Run tests
        run: pytest

{%- endif %}
{%- if cookiecutter.mkdocs %}
{%- if cookiecutter.packaging == "uv" %}

      - name: Install doc dependencies
        run: uv sync --group doc
{%- elif cookiecutter.packaging == "pip-tools" %}

      - name: Install doc dependencies
        run: pip install -r doc-requirements.txt
{%- endif %}

      - name: Check that documentation builds cleanly with MkDocs
        if: matrix.os == 'ubuntu-latest'
        run: {% if cookiecutter.packaging == "poetry" %}poetry run mkdocs build --strict{% else %}mkdocs build --strict{% endif %}
{%- endif %}
