name: Tests (poetry)

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test-poetry:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        python-version: ['3.14']

    steps:
      - uses: actions/checkout@v6

      - name: Install Poetry
        run: pipx install poetry

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install dependencies
        run: pip install -r dev-requirements.txt

      - name: Run unit tests
        run: pytest

      - name: Create project from template
        # Choose default options
        run: cookiecutter . --no-input packaging=poetry rse_team_as_coauthor=true use_bsd3_license=true

      - name: Install project dependencies
        working-directory: my_project
        run: poetry install

      - name: Run mypy
        working-directory: my_project
        run: poetry run mypy .

      - name: Run tests
        working-directory: my_project
        run: poetry run pytest

      - name: Run pre-commit hooks for project
        working-directory: my_project
        run: |
          git init
          git add .
          poetry run pre-commit run -a

      - name: Test docs build successfully
        working-directory: my_project
        run: poetry run mkdocs build --strict

      - name: Test build is successful
        working-directory: my_project
        run: poetry build
