name: Tests (pip-tools)

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        python-version: ["3.12"]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install cookiecutter
        run: pip install cookiecutter

      - name: Create project from template
        # Choose default options
        run: cookiecutter . --no-input packaging=pip-tools

      - name: Install project dependencies
        working-directory: my_project
        run: pip install -r dev-requirements.txt

      - name: Run tests
        working-directory: my_project
        run: pytest

      - name: Run pre-commit hooks for project
        working-directory: my_project
        run: |
          git init
          git add .
          pre-commit run -a
