name: Test (uv)

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test-uv:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        python-version: ['3.14']

    steps:
      - uses: actions/checkout@v6

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          prune-cache: false
          python-version: ${{ matrix.python-version }}

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install dependencies
        run: pip install -r dev-requirements.txt

      - name: Run unit tests
        run: pytest

      - name: Create project from template
        # Choose default options
        run: cookiecutter . --no-input packaging=uv rse_team_as_coauthor=true use_bsd3_license=true

      - name: Install project dependencies
        working-directory: my_project
        run: |
          git init
          uv sync --all-groups

      - name: Run mypy
        working-directory: my_project
        run: uv run mypy .

      - name: Run tests
        working-directory: my_project
        run: uv run pytest

      - name: Run pre-commit hooks for project
        working-directory: my_project
        run: |
          git add .
          uv run pre-commit run -a

      - name: Test docs build successfully
        working-directory: my_project
        run: uv run mkdocs build --strict

      - name: Test build is successful
        working-directory: my_project
        run: uv build
